header {
    position: relative;

    .side-figure-header {
        display: none; 
    
        @media (min-width: 900px) { /* vanaf 900px display block en positioning */
            display: block;
            position: absolute;
            width: 300px;
            left: -5%;
            translate: 0 -200%;
        }
    }

    @media (min-width: 900px) {
        height: 720px;
    }
}

nav {
    max-width: 900px;
    border-bottom: solid var(--colors-dim-200) calc(1.5 * var(--px));
    padding: var(--spacing-2) var(--spacing-4);
    background-color: var(--colors-white);
    margin: 0 auto;
    /* Flex parent */
    display: flex; 
    flex-direction: column;
    align-items: center;

    @media (min-width: 456px) { /* vanaf 456px horizontaal uitlijnen */
        flex-direction: row;
        justify-content: space-between;
    }

    a img { 
        width: 150px;
    }

    .nav-links {
        /* Flex parent */
        display: flex; 
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: var(--spacing-4);

        @media (min-width: 300px) {
            flex-direction: row;
            align-items: center;
        }

        a {
            font-family: var(--font-family-regular);
            font-size: var(--body-text-sm);

            /* Flex parent */
            display: flex; 
            flex-direction: column;
            align-items: center;
            gap: 0;

            @media (min-width: 600px) {
                width: 86px;

                flex-direction: row;
                justify-content: center;
                gap: var(--spacing-2);
            }
        }
        
        button {
            appearance: none;
            /* Flex parent */
            display: flex; 
            flex-direction: column;
            align-items: center;
            justify-content: center;
            transition: .2s ease;
        
            &:hover {
                color: var(--colors-primary-600);
                cursor: pointer;
            }

            &::after {
                content: "Open menu";
                font-family: var(--font-family-regular);
                font-size: var(--body-text-sm);
            }
            
            &.openMenu::after { /* bij class .openMenu voeg ::after toe met 'Sluit menu' */
                content: "Sluit menu";
 
            }
            
            img.openMenu { /* bij class .openMenu bij de afbeelding, verander content en verander width */
                content: url("../assests/cross.svg");
                width: 25px;
            }

            @media (min-width: 600px) {
                flex-direction: row;
                justify-content: center;
                gap: var(--spacing-2);
            }
        }
        
        img {
            width: 20px;
        }
    }
        
    .menu-items {
        padding: var(--spacing-2) var(--spacing-4);
        background-color: var(--colors-white);
        border-radius: var(--border-0) var(--border-0) var(--border-0) var(--border-md);
        max-width: 900px;
        left: 50%;
        top: 213.539px;
        translate: 100% 0%;
        position: absolute; 
        width: 100%;
        z-index: 999;
        transition: .3s ease-in;
        visibility: hidden;

        li::before { /* voeg afbeelding toe aan list items */
            content: "";
            background-image: url("../assests/arrow-side.svg");
            background-repeat: no-repeat;
            background-size: 20px;
            padding-right: var(--spacing-6);
        }

        &.openMenu { /* en bij .openMenu, maak de items zichtbaar en verander positie naar 0%(x) 0%(y) */
            visibility: visible;
            translate: 0% 0%;
        
            @media (min-width: 700px) {
                left: 0%;
                right: 0%;
                translate: 0% 0%;
            }
        }

        @media (min-width: 300px) {
            top: 103.539px;
        }

        @media (min-width: 456px) {
            top: 65.5px;
        }
    
        @media (min-width: 700px) {
            left: 0%;
            right: 0%;
            translate: 150% 0%;
            display: flex;
            gap: var(--spacing-4);
            margin: 0 auto;
        }
    }
}

.hero {
    position: relative;
    /* Flex parent */
    display: flex; 
    justify-content: center;

    img {
        width: 100%;
        height: auto;
        z-index: 2;
    
        @media (min-width: 900px) {
            max-width: 900px;
        }
    }
    
    h1 {
        position: absolute;
        color: var(--colors-white);
        bottom: 5%;
        z-index: 3;
        font-size: var(--primary-heading-l);
        padding: var(--spacing-0) var(--spacing-2);
    }

    .overlay-gradient {
        position: absolute;
        background-image: /* gradient achtergrond header afbeelding */
            linear-gradient(
            0deg,
            hsl(22deg 80% 54%) 0%,
            hsla(0, 0%, 100%, 0) 100%
        );
        width: 100%;
        height: 100%;
        z-index: 2;
    
        @media (min-width: 900px) {
            max-width: 900px;
        }
    }
}

.slider-header-container {
    width: 100vw;
    text-wrap: nowrap;
    background-color: var(--colors-primary-500);

    .heading-slider {
        padding: var(--spacing-4) var(--spacing-2);
        width: calc(((var(--spacing-2) * 2) + 171.844px) * 4); /* breedte van de lijst van één keer alle kernwaarde, wordt vermenigvuldigd met 4, omdat er 4 kopiën zijn (om de hele breedte van het scherm in te nemen) */
        /* Flex parent */
        display: flex; 
        gap: var(--spacing-6);
    
        --animation-xs: headerslider 5s linear infinite;
        --animation-s: headerslider 5s linear infinite;
        --animation-m: headerslider 8s linear infinite;
        --animation-l: headerslider 8s linear infinite;
        --animation-xl: headerslider 8s linear infinite;
    
        animation: var(--animation-xs);

        li {
            color: var(--colors-white);
            /* Flex parent */
            display: flex; 
            align-items: center;
            gap: var(--spacing-2);
        }
    
        @media (min-width: 580px) {
            animation: var(--animation-s);
        }
    
        @media (min-width: 900px) {
            animation: var(--animation-m);
        }
    
        @media (min-width: 1400px) {
            animation: var(--animation-l);
        }
    
        @media (min-width: 1600px) {
            animation: var(--animation-xl);
        }
    
        @media (prefers-reduced-motion) {
            animation-play-state: paused;
        }
    
        @media (prefers-reduced-motion) { /* bij instelling om bewegingen te minimaliseren */
            width: 100vw;
            overflow-x: auto;
        }
    }
}

.about {
    position: relative;

    /* Flex parent */
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: 850px) {
        background-color: var(--colors-dim-100);
    }

    .about-text {
        margin-top: var(--spacing-8);
        background-color: var(--colors-dim-100);
        padding: var(--spacing-8) var(--spacing-8);
        border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
        width: 85vw;
        max-width: 586px;
    
        a {
            color: var(--colors-primary-500);
            text-decoration: underline;
            text-underline-offset: var(--spacing-05);
        }
    
        @media (min-width: 850px) {
            padding: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
            text-align: start;
        }
    }
    
    .about-button {
        border-radius: var(--border-sm) var(--border-sm) var(--border-sm) var(--border-0);
        position: absolute;
        bottom: 0;
        translate: 0 50%;
        /* Flex parent */
        display: flex; 
        align-items: center;

        &:hover {
            color: var(--colors-white);
        }
    
        @media (min-width: 850px) {
            position: inherit;
            translate: 0 0;
            margin-bottom: var(--spacing-8);
        }
    }
}

.about-slider-container {
    margin-top: calc((var(--spacing-8) + 24px));
    overflow: hidden;
    width: 100vw;
    position: relative;
    z-index: 2;

    @media (min-width: 850px) {
        margin-top: 0; 
    }

    .about-slider {
        /* Flex parent */
        display: flex; 
        gap: 0;
        width: calc(60vw * 7);

        img {
            display: block;
            width: 60vw;
            height: 90%;
        
            @media (min-width: 600px) {
                max-width: 466.398px;
            }
        }
    
        --animation-duration: 19s; 
    
        animation: bannermove var(--animation-duration) linear infinite;
        animation-duration: var(--animation-duration);

        &:hover {
            animation-play-state: paused;
        }
    
        @media (min-width: 580px) {
        --animation-duration: 23s; 
        }
    
        @media (min-width: 900px) {
        --animation-duration: 28s; 
        }
    
        @media (min-width: 1400px) {
        --animation-duration: 35s; 
        }
    
        @media (min-width: 1600px) {
        --animation-duration: 42s; 
        }
    
        @media (prefers-reduced-motion) {
            animation-play-state: paused;
        }
        
        @media (prefers-reduced-motion) { /* bij instelling om bewegingen te minimaliseren, display flex de afbeeldingen onder elkaar (column) */
            display: flex; 
            flex-direction: column;
            align-items: center;
    
            width: 100vw;
    
            .duplicates {
                display: none;
            }
    
            @media (min-width: 900px) { /* vanaf 900px display de afbeeldingen naast elkaar, en wrap zodat deze automatisch op een volgende 'regel' komen te staan*/
                flex-direction: row;
                flex-wrap: wrap;
            }
        }
    }
}

.vacancies {
    margin-top: var(--spacing-8);
    position: relative;
    width: 85vw;
    left: 50%;
    translate: -50% 0;

    @media (min-width: 900px) {
        width: 900px;
        padding: var(--spacing-0) var(--spacing-4);
    }

    .filter-container {
        position: sticky;
        top: var(--spacing-8); 
        margin-bottom: var(--spacing-8);
    
        .filters-bg {
            background-color: var(--colors-primary-500);
            border-radius: var(--border-sm) var(--border-sm) var(--border-sm) var(--border-0);
            position: absolute;
            z-index: 0;
            width: 0%;
            height: 48px;
            max-width: 1068px;

            &.openMenu { /* bij .openMenu class, activeer toTheRight animatie, na .2s activeer toTheBottomSmall animatie*/
                animation: toTheRight .2s ease-in, .2s toTheBottomSmall .2s ease-in;
                animation-fill-mode: forwards;
            
                @media (min-width: 425px) { /* vanaf 425px, activeer toTheBottom animatie (ipv toTheBottomSmall) */
                    animation: toTheRight .2s ease-in, .2s toTheBottom .2s ease-in;
                    animation-fill-mode: forwards;
                    max-width: 1068px;
                }
            }
            
            &.closeMenu { /* bij .closeMenu class, activieer toTheTopSmall animatie, na .4s activeer toTheLeft animatie */
                animation: toTheTopSmall .2s ease-in, .4s toTheLeft .2s ease-in;
                animation-fill-mode: forwards;
                height: 265px;
                width: 100%;
            
                @media (min-width: 425px) { /* vanaf 425px, activeer toTheTop (ipv toTheTopSmall) */
                    height: 117.5px;
                    width: 100%;
                    animation: toTheTop .2s ease-in, .4s toTheLeft .2s ease-in;
                    animation-fill-mode: forwards;
                }
            }
        
            @media (min-width: 425px) {
                width: 0%;
                height: 48px;
            }
        }
    
        .filter-button {
            display: flex; 
            justify-content: space-between;
            border-radius: var(--border-sm) var(--border-sm) var(--border-0) var(--border-0);
            margin-top: var(--spacing-4);
            position: relative;
            z-index: 2;
        
            button {
                border-bottom-left-radius: var(--border-0);
                /* Flex parent */
                display: flex; 
                justify-content: space-between;
                align-items: center;
                gap: var(--spacing-2);
                max-width: 900px;
            }
        
            button.openMenu { /* wanneer .openManu class wordt toegevoegd, activeer changeButtonWidth animatie */
                animation: changeButtonWidth .2s ease-in;
                animation-fill-mode: forwards;
    
                img.openMenu { /* bij .openMenu class wordt de content van de afbeelding veranderd */
                    animation: .6s changeIcon .1s ease-in; 
                    animation-fill-mode: forwards;
                }
            }
    
            .label-image {
                display: flex; 
                flex-direction: column;
                align-items: center;
            
                span {
                    display: none;
                    font-size: var(--body-text-sm);
            
                    &.openMenu {
                        display: inline-flex;
                        animation: .4s imageLabelDelay .2s ease-in;
                    }
                }
            }
        }

        .form-vacancies-filter {
            padding: var(--spacing-6) var(--spacing-0);
            border-radius: var(--border-0) var(--border-0) var(--border-sm) var(--border-0);
            position: absolute;
            width: 100%;
            z-index: 1; 
            translate: 0 -85%;
            opacity: 0;
        
            @media (min-width: 425px) {
                position: absolute;
                width: 100%;
                z-index: 1;
                translate: 0 -85%;
                opacity: 0;
            }
        
            &.openMenu { /* bij .openMenu wordt de dropItemsColumn na .4s geactiveerd, en daarna de appear animatie (na .2s) */
                animation: .4s dropItemsColumn .2s cubic-bezier(.12,.13,.81,1.49), .2s appear .2s;
                animation-fill-mode: forwards;
            
                @media (min-width: 425px) { /* bij een grotere scherm breedte wordt de dropItems animatie geactiveerd */
                    animation: .4s dropItems .2s cubic-bezier(.12,.13,.81,1.49), .2s appear .2s;
                    animation-fill-mode: forwards;
                }
            }
            
            &.closeMenu { /* bij .closeMenu wordt eerste de disappear geactiveerd, en daarna de liftItemsColumn aniamtie */
                animation: disappear .2s, liftItemsColumn .2s cubic-bezier(.12,.13,.81,1.49);
                animation-fill-mode: forwards;
            
                @media (min-width: 425px) { /* bij een groter scherm, wordt de liftItems animatie getriggered (ipv liftItemsColumn) */
                    animation: disappear .2s, liftItems .2s cubic-bezier(.12,.13,.81,1.49);
                    animation-fill-mode: forwards;
                }
            }
        
            .filters {
                width: 100%;
                height: 100%;
                visibility: visible;
                /* Flex parent */
                display: flex; 
                flex-direction: column;
                align-items: center;
                gap: var(--spacing-4);
                position: relative;
                z-index: 2;
            
                @media (min-width: 425px) {
                    flex-direction: row; 
                    justify-content: center;
                }
            
                .vacancy-filter {
                    height: 48px;
        
                    input[type="radio"] {
                        appearance: none; 
                    }
        
                    label {
                        cursor: pointer;
                        padding: var(--spacing-2) var(--spacing-4);
                    }
        
                    input:checked + label { /* bij geselecteerde input (checked) en label, verander (o.a.) achtergrond kleur en tekst kleur */
                        background-color: var(--colors-primary-600);
                        color: var(--colors-white);
                        border: none;
                        transition: .2s ease-in;
                    
                        &:hover { /* wanneer input gechecked is en input en label worden gehovered, verander de tekst kleur  */
                            color: var(--colors-black);
                        }
                    }
                }
            }
        }
    }

    .vacancy {
        margin-top: var(--spacing-8);
    
        h3 {
            font-family: var(--font-family-semibold);
        }
    
        .vacancy-content {
            background-color: var(--colors-dim-100);
            border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
            padding: var(--spacing-2) var(--spacing-4);
            margin-top: var(--spacing-4);
            border: var(--colors-primary-500) solid 2px;
            transition: .2s;
        
            h4 {
                font-family: var(--font-family-semibold);
                color: var(--colors-primary-600);;
            }
        
            p:nth-of-type(1) {
                margin-top: var(--spacing-3); 
            }

            p:nth-of-type(2) {
                margin-top: var(--spacing-0);
            }
        
            a {
                font-family: var(--font-family-regular);
            }
        
            a:hover {
                color: var(--colors-black);
            }
        
            &:hover {
                background-color: var(--colors-primary-500);

                h4 {
                    color: var(--colors-white);
                }
            }
        
            .vacancy-content-a {
                .vacancy-content-text {
                    @media (min-width: 1000px) {
                        display: flex; 
                        flex-direction: row;
                        align-items: center;
                        gap: var(--spacing-4);

                        p:nth-of-type(1) {
                            margin-top: var(--spacing-0); 
                        }
                    }
                }
                
                @media (min-width: 450px) {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        
            .vacancy-employee {
                display: none; 
            
                @media (min-width: 450px) {
                    display: inline;
                    width: 84.5px;
                    height: 84.5px;
                    border-radius: var(--border-full) var(--border-full) var(--border-0) var(--border-full);
                    object-fit: cover;
                }
            }
        }
    }

    >img {
        width: 800px;
        opacity: .5;
        position: absolute;
        left: 50%;
        translate: -15% 0;
        z-index: -1;
    }
    
    .large-bg-ink-vacancies1 {
        rotate: -50deg;
        top: -5%;
    }

    .large-bg-ink-vacancies3 {
        rotate: -50deg;
        top: 70%;
    }
    
    .large-bg-ink-vacancies2 {
        rotate: 220deg;
        top: 30%;
        left: 0;
        translate: -50% 0;
    }
}

.quote {
    margin: var(--spacing-8) auto;
    background-color: var(--colors-primary-500);
    padding: var(--spacing-8) var(--spacing-8);
    border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
    width: 85vw;
    max-width: 586px;
    color: var(--colors-black);

    h2 {
        display: none;
    }

    figure {
        margin-top: var(--spacing-4);
        /* Flex parent */
        display: flex; 
        justify-content: space-between;
        align-items: start;

        img {
            width: 150px;
            border-radius: var(--border-full) var(--border-full) var(--border-0) var(--border-full);
        }
        
        strong {
            display: block; /* block element van <strong>, zodat deze op de volgende regel komt te staan (flow layout) */
            font-family: var(--font-family-semibold);
        }
    }
    
    p::before { /* voeg afbeelding van quotes toe voor de tekst in de quote section */
        content: "";
        background-image: url("../assests/quotemarks.png");
        background-repeat: no-repeat;
        background-size: 40px;
        padding: var(--spacing-8) var(--spacing-6);
    }
}

.signup {
    background-color: var(--colors-dim-100);
    padding: var(--spacing-8) var(--spacing-8);
    position: relative;
    z-index: 2;

    @media (min-width: 900px) {
        display: flex; 
        justify-content: center;
    }

    .signup-centering {
        form {
            .form-field {
                margin-top: var(--spacing-4);
        
                label {
                    display: block;
                }
                
                .multiple-line-input {
                    width: 100%;
                    height: auto;
                }
            }
            
            .signup-submit {
                margin-top: var(--spacing-4);
                border-radius: var(--border-sm) var(--border-sm) var(--border-sm) var(--border-0);
            }

            @media (min-width: 500px) { /* vanaf 500px een grid layout voor de inputs en textarea van signup section */
                display: grid; 
                grid-template-columns: 1fr 1fr;

                .form-field:nth-of-type(1) {
                    grid-column: 1/2;
                    
                    input {
                        width: 80%;
                    }
                }

                .form-field:nth-of-type(2) {
                    grid-column: 2/3;

                    input {
                        width: 100%;
                    }
                }

                .form-field:nth-of-type(3) {
                    grid-column: 1/-1;

                    textarea {
                        resize: vertical;
                    }
                }

                .form-field:nth-of-type(4) {
                    grid-column: 1/2;
                }

                button {
                    grid-column: 1/2;
                    max-width: var(--spacing-40);
                }
            }
        }

        @media (min-width: 900px) {
            width: 900px;
        }
    }
}

footer {
    background-color: var(--colors-primary-500);
    padding: var(--spacing-8) var(--spacing-8);
    text-align: center;
    color: var(--colors-white);

    .footer-links {
        margin-top: var(--spacing-4);
        /* Flex parent */
        display: flex; 
        flex-direction: column;
        gap: var(--spacing-8);
        justify-content: center;
        align-items: center;
    
        li {
            border: var(--colors-dim-orange) solid 2px;
            background-color: var(--colors-dim-orange);
            border-radius: var(--border-full);
            width: 2.5rem;
            height: 2.5rem;
            cursor: pointer;
            transition: .2s;
            /* Flex parent */
            display: flex; 
            justify-content: center;
            align-items: center;
        }
    
        @media (min-width: 340px) {
            flex-direction: row;
        }
    }
}

/* keyframes */

@keyframes headerslider {
    0% {
        translate: 0 0;
    }
    100% {
        translate: calc(100% / -3) 0%;
    }
}

@keyframes bannermove {
    0% {
        translate: 0 0;
    }
    100% {
        translate: -50% 0;
    }
}

@keyframes changeButtonWidth {
    0% {
        width: auto;
    }
    100% {
        width: 100%;
    }
}


@keyframes appear {
    0% {
        opacity: 0;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappear {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dropItems {
    0% {
        translate: 0% -85%;
    }
    100% {
        translate: 0% 0%;
    }
}

@keyframes liftItems {
    0% {
        translate: 0% 0%;
    }
    100% {
        translate: 0% -85%;
    }
}

@keyframes dropItemsColumn {
    0% {
        translate: 0% -85%;
    }
    100% {
        translate: 0% 0%;
    }
}

@keyframes liftItemsColumn {
    0% {
        translate: 0% 0%;
    }
    100% {
        translate: 0% -85%;
    }
}

@keyframes toTheRight {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@keyframes toTheLeft {
    0% {
        width: 100%;
    }
    100% {
        width: 0%;
    }
}

@keyframes toTheBottomSmall {
    0% {
        height: 48px;
    }
    100% {
        height: 265px;
    }
}

@keyframes toTheTopSmall {
    0% {
        height: 265px;
    }
    100% {
        height: 48px;
    }
}

@keyframes toTheBottom {
    0% {
        height: 48px;
    }
    100% {
        height: 117.5px;
    }
}

@keyframes toTheTop {
    0% {
        height: 117.5px;
    }
    100% {
        height: 48px;
    }
}

@keyframes changeIcon {
    0% {

    }
    100% { /* bij 100% verander de content in een andere afbeelding en pas width aan */
        content: url("../assests/cross-white.svg");
        width: 30px;
    }
}