/* Noto Sans */
@font-face {
font-family: 'Noto Sans Regular';
font-weight: var(--font-weight-regular);
src: url("../assests/fonts/noto-sans/notosans-400.woff2") format("woff2");
}


@font-face {
font-family: 'Noto Sans Semibold';
font-weight: var(--font-family-semibold);
src: url("../assests/fonts/noto-sans/notosans-600.woff2") format("woff2");
}


@font-face {
font-family: 'Noto Sans Bold';
font-weight: var(--font-weight-bold);
src: url("../assests/fonts/noto-sans/notosans-700.woff2") format("woff2");
}

/* Anek */
@font-face {
    font-family: 'Anek';
    src: url("../assests/fonts/anek/anek-650.woff2") format("woff2");
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body { 
    /* colors */
    --colors-primary-500: #e8712c; 
    --colors-primary-600: #b65100; 
    --colors-secondary-500: #ffdd00; 
    --colors-info-100: #eef6fc; 
    --colors-info-500: #00a4e5;
    --colors-info-600: #008cc9;
    --colors-success-100: #f9fff0; 
    --colors-success-500: #80ce00;
    --colors-success-600: #66ad00;
    --colors-warning-100: #fffdf2;  
    --colors-warning-500: #ffdd00; 
    --colors-warning-600: #b89900; 
    --colors-error-100: #fff2f2; 
    --colors-error-400: #eb6668; 
    --colors-error-500: #e33537; 
    --colors-error-600: #cd1316; 
    --colors-dim-100: #f7f7f8; 
    --colors-dim-200: #dbdadd; 
    --colors-dim-500: #9f9f9f; 
    --colors-dim-800: #262626; 
    --colors-black: #000000; 
    --colors-white: #ffffff;
    --colors-dim-orange: #F0CCB6;

    /* fonts */
    --font-family-regular: 'Noto Sans Regular';
    --font-family-semibold: 'Noto Sans Semibold';
    --font-family-bold: 'Noto Sans Bold';
    --heading-font-family: 'Anek';

    /* font weights */
    --font-weight-normal: 400; 
    --font-weight-semibold: 600; 
    --font-weight-bold: 700;

    /* font sizes */
    --primary-heading-s: 20px; 
    --primary-heading-m: 24px; 
    --primary-heading-l: 36px; 
    --primary-heading-xl: 48px; 

    --body-heading-s: 16px;
    --body-heading-m: 18px;
    --body-heading-l: 24px;
    --body-heading-xl: 36px;

    --body-text-xs: 12px; 
    --body-text-sm: 14px; 
    --body-text-md: 16px; 
    --body-text-lg: 18px; 
    --body-text-xl: 20px;  

    /* borders */
    --border-0: 0px; 
    --border-xs: .125rem;
    --border-sm: .25rem;
    --border-md: 1rem;
    --border-lg: 1.5rem;
    --border-full: 9999px;

    /* breakpoints */
    /* --breakpoint-sm: 576px; 
    --breakpoint-md: 768px; 
    --breakpoint-lg: 992px; 
    --breakpoint-xl: 1200px; 
    --breakpoint-2xl: 1400px;  */

    /* spacing */ 
    --px: 1px; 
    --em: 1em;
    --spacing-0: 0; 
    --spacing-05: .125rem; 
    --spacing-1: .25rem; 
    --spacing-2: .5rem; 
    --spacing-3: .75rem; 
    --spacing-4: 1rem; 
    --spacing-5: 1.25rem; 
    --spacing-6: 1.5rem; 
    --spacing-7: 1.75rem; 
    --spacing-8: 2rem; 
    --spacing-9: 2.25rem; 
    --spacing-10: 2.5rem; 
    --spacing-11: 2.75rem; 
    --spacing-12: 3rem; 
    --spacing-14: 3.5rem; 
    --spacing-16: 4rem; 
    --spacing-20: 5rem; 
    --spacing-24: 6rem; 
    --spacing-28: 7rem; 
    --spacing-32: 8rem; 
    --spacing-36: 9rem; 
    --spacing-40: 10rem; 
    --spacing-44: 11rem; 
    --spacing-48: 12rem; 
    --spacing-52: 13rem; 
    --spacing-56: 14rem; 
    --spacing-60: 15rem; 
    --spacing-64: 16rem; 
    --spacing-72: 18rem; 
    --spacing-80: 20rem; 
    --spacing-96: 24rem; 

    font-family: var(--font-family-regular);
    font-size: var(--display-heading-s);

    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--heading-font-family);
}

a {
    color: inherit;
    text-decoration: none;
    font-family: 'Noto Sans Semibold';
    transition: .2s;
}

a:hover {
    color: var(--colors-primary-600);
}



ul {
    list-style-type: none;
}

p {
    margin-top: var(--spacing-4);
}

.button {
    background-color: var(--colors-primary-500);
    border: solid;
    height: var(--spacing-12);    
}

/* forms */
.text-input {
    border: var(--colors-dim-800) solid 1px;
    border-radius: var(--border-md);
}

.text-input:hover {
    border-color: var(--colors-primary-500);
}

.text-input:focus {
    outline-color: var(--colors-primary-500);
}

.text-input:user-invalid {
    background-color: var(--colors-error-100);
    border-color: var(--colors-error-600);
}

.text-input:user-valid {
    background-color: var(--colors-success-100);
    border-color: var(--colors-success-500);
}

.single-line-input {
    height: var(--spacing-12);
    padding: var(--spacing-0) var(--spacing-5);
}

.multiple-line-input {
    min-height: var(--spacing-12);
    padding: var(--spacing-3) var(--spacing-5);
}

.button {
    height: var(--spacing-12);
    padding: var(--spacing-0) var(--spacing-4);
    border: var(--colors-primary-500) solid 2px;
    border-radius: var(--border-sm);
    font-weight: var(--font-weight-semibold);
    font-size: var(--body-text-md);
    transition: .2s; 
    cursor: pointer; 
}

.primary-button {
    background-color: var(--colors-primary-500);
    color: var(--colors-white);
}

.primary-button:hover {
    background-color: var(--colors-primary-600);
    border-color: var(--colors-primary-600);
}

.secondary-button {
    background-color: var(--colors-white);
    color: var(--colors-black);    
}

.secondary-button:hover {
    color: var(--colors-primary-500);
    border-color: var(--colors-primary-600);
}

nav {
    /* background-color: lightblue; */
    width: 100%;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    border-bottom: solid var(--colors-dim-200) calc(1.5 * var(--px));
    padding: var(--spacing-2) var(--spacing-4);
}

.nav-links {
    /* Flex parent */
    display: flex; 
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-4);
}

.logo img {
    width: 150px;
}

.nav-links img {
    width: 20px;
}

.nav-links a {
    /* Flex parent */
    display: flex; 
    align-items: center;
    gap: var(--spacing-2);
}

.menu-items {
    border-bottom: solid var(--colors-dim-200) calc(1.5 * var(--px));
    padding: var(--spacing-2) var(--spacing-4);
}

.menu-items li::before {
    content: "";
    background-image: url("../assests/arrow-side.svg");
    background-repeat: no-repeat;
    background-size: 20px;
    padding-right: var(--spacing-6);
}

.hero {
    position: relative;

    /* Flex parent */
    display: flex; 
    justify-content: center;
}

.hero img {
    width: 100%;
    height: auto;
    z-index: 2;
}

.hero h1 {
    position: absolute;
    color: var(--colors-white);
    bottom: 5%;
    z-index: 3;
    font-size: var(--primary-heading-l);
}

.overlay-gradient {
    position: absolute;
    background-image: 
        linear-gradient(
        0deg,
        hsl(22deg 80% 54%) 0%,
        hsla(0, 0%, 100%, 0) 100%
    );
    width: 100%;
    height: 100%;
    z-index: 2;
}

.heading-slider {
    background-color: var(--colors-primary-500);
    padding: var(--spacing-4) var(--spacing-0);
}

.heading-slider li {
    /* Flex parent */
    display: flex; 
    align-items: center;
    gap: var(--spacing-2);
}

.side-figure {
    display: none; 
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;
}

.about-text {
    margin-top: var(--spacing-8);
    background-color: var(--colors-dim-orange);
    padding: var(--spacing-8) var(--spacing-8);
    border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
    width: 85vw;
}

.about-button {
    border-radius: var(--border-sm) var(--border-sm) var(--border-sm) var(--border-0);
    
    position: absolute;
    bottom: 0;
    translate: 0 50%;

    /* Flex parent */
    display: flex; 
    align-items: center;
}

.about-button:hover {
    /* background-color: var(--colors-white); */
    color: var(--colors-white);
}

.about-slider {
    margin-top: calc((var(--spacing-8) + 24px))
}

.about-slider img {
    display: block;
    width: 80%;
}

.vacancies {
    margin-top: var(--spacing-8);
    position: relative;

    width: 85vw;

    left: 50%;
    translate: -50% 0;
}

.form-vacancies-filter {
    margin-top: var(--spacing-8);
}

.filters {
    width: 100%;

    /* Flex parent */
    display: flex; 
    justify-content: space-between;
    align-items: center;
}

.vacancy-filter {
    display: inline-flex;
    align-items: center;
}

.vacancy-filter label {
    cursor: pointer;
}

input[type="radio"] {
    appearance: none; 
}

.vacancy {
    margin-top: var(--spacing-4);

    h3 {
        font-family: var(--font-family-semibold);
    }
}

.vacancy-content {
    background-color: var(--colors-dim-orange);
    border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
    padding: var(--spacing-2) var(--spacing-4);
    margin-top: var(--spacing-4);
    border: var(--colors-dim-orange) solid 2px;
    transition: .2s;


    h4 {
        font-family: var(--font-family-semibold);
        color: var(--colors-primary-500);;
    }

    p {
        margin-top: var(--spacing-3); 
    }

    a {
        font-family: var(--font-family-regular);
    }

    a:hover {
        color: var(--colors-black);
    }

    p:nth-of-type(2) {
        margin-top: var(--spacing-0);
    }
}

.vacancy-content:hover {
    background-color: var(--colors-white);
}

.side-image-vacancies {
    display: none; 
}

.large-bg-ink-vacancies1 {
    position: absolute;
    z-index: -1;
    rotate: -50deg;
    width: 800px;
    opacity: .5;
    top: -5%;
    right: -100%;
}

.large-bg-ink-vacancies2 {
    position: absolute;
    z-index: -1;
    rotate: 220deg;
    width: 800px;
    opacity: .5;
    top: 30%;
    left: -110%;
}

.large-bg-ink-vacancies3 {
    position: absolute;
    z-index: -1;
    rotate: -50deg;
    width: 800px;
    opacity: .5;
    top: 70%;
    right: -100%;
}

.quote {
    margin: var(--spacing-8) auto;
    background-color: var(--colors-primary-500);
    padding: var(--spacing-8) var(--spacing-8);
    border-radius: var(--border-md) var(--border-md) var(--border-md) var(--border-0);
    width: 85vw;
    color: var(--colors-white);

    h2 {
        display: none;
    }
}

.quote figure {
    margin-top: var(--spacing-4);

    /* Flex parent */
    display: flex; 
    justify-content: space-between;
    align-items: start;
}

.quote figure img {
    width: 150px;
    border-radius: var(--border-full) var(--border-full) var(--border-0) var(--border-full);
}

.quote figure strong {
    display: block;
    font-family: var(--font-family-semibold);
}

.quote p::before {
    content: "";
    background-image: url("../assests/quotemarks.png");
    background-repeat: no-repeat;
    background-size: 40px;
    padding: var(--spacing-8) var(--spacing-6);
}

.signup {
    background-color: var(--colors-dim-orange);
    padding: var(--spacing-8) var(--spacing-8);
    position: relative;
    z-index: 2;
}

.form-field {
    margin-top: var(--spacing-4);
}

.form-field label {
    display: block;
}

.multiple-line-input {
    width: 100%;
    height: auto;
}

.signup-submit {
    margin-top: var(--spacing-4);
    border-radius: var(--border-sm) var(--border-sm) var(--border-sm) var(--border-0);
}

footer {
    background-color: var(--colors-primary-500);
    padding: var(--spacing-8) var(--spacing-8);
    text-align: center;
    color: var(--colors-white);
}

.footer-links {
    margin-top: var(--spacing-4);

    display: flex; 
    gap: var(--spacing-8);
    justify-content: center;
    align-items: center;

    li {
        border: var(--colors-dim-orange) solid 2px;
        background-color: var(--colors-dim-orange);
        border-radius: var(--border-full);
        width: 2.5rem;
        height: 2.5rem;
        cursor: pointer;
        transition: .2s;

        /* Flex parent */
        display: flex; 
        justify-content: center;
        align-items: center;
    }
}

